<form id="searchform" method="get" action="https://duckduckgo.com/">
            <input type="search" name="q" maxlength="255" placeholder="Search"><!-- placeholder text in search box -->
            <input type="hidden" name="sites" value="http://mahoffman.github.io/"><!-- your domain here -->
            <input type="hidden" name="kp" value="-1"> <!--safe search on/off -->
            <input type="hidden" name="kn" value="-1"> <!--new window -->
            <input type="hidden" name="kh" value="1"> <!--HTTPS on/off -->
            <input type="hidden" name="kl" value="wt-wt"> <!--region wt-wt = no region/worldwide -->
            <input type="hidden" name="kg" value="p"> <!--get [g] vs post [p] -->
            <input type="hidden" name="ks" value="s"> <!-- highlight colour -->
            <input type="hidden" name="km" value="l"> <!-- highlight colour -->
            <input type="hidden" name="k7" value="#fff"> <!-- background colour -->
            <input type="hidden" name="kj" value="#cc0000"> <!-- results page header colour -->
            <input type="hidden" name="ky" value="#eee8d5"> <!-- highlight colour -->
            <input type="hidden" name="kx" value="#cc0000"> <!-- URLs colour -->
            <input type="hidden" name="k1" value="-1"> <!-- adverts on/off -->
            <input type="hidden" name="ko" value="-2"> <!-- DDG interface on/off -->
            <input type="hidden" name="k8" value="#515151"> <!-- text colour -->
            <input type="hidden" name="k9" value="#cc0000"> <!-- links colour -->
            <input type="hidden" name="kaa" value="#cc0000"> <!-- visited links colour -->
            <input type="hidden" name="kae" value="#cc0000"> <!-- theme [changes result titles] colour -->
            <input type="hidden" name="ka" value="Open Sans Condensed"> <!-- link font -->
            <input type="hidden" name="kt" value="Open Sans Condensed"> <!-- text font -->
            <input type="submit" value="DuckDuckGo Search" style="visibility: hidden;"><!-- hide submit button. Search via hitting RETURN -->
</form>
